{% extends "master.html" %}

<!--Block For Changing Page Header-->
{% block pageTitle %}
{% endblock %}

<!-- Block for changing any necessary page-styles -->
{% block pageStyles %}
<link href="Stylesheets/pageListFormatting.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block coolnessBlock %}
{% block notesBreadcrumb %}
	{% endblock %}
{% endblock %}

<!--Block For Changing Page Content-->
{% block content %}
<div id="pageContentBlock">
{% for page in pageData.pages %}
	<div id="contentBlock">
		<div id="searchBarBlock" class="pageListItem">
			<div class="leftSide">
				<div class="leftSideBlock">
					<div id="contentBlockImage">
						<a href="/Notes/{{ page.title }}">
							<img src="{{ page.smallImage }}" alt="{{ page.smallImageAltText }}"></img>
						</a>
					</div>
				</div>
			</div>
			<div class="rightSide">
				<div class="rightSideBlock">
					<div id="contentBlockTitle">
						<p> <a href="/Notes/{{ page.title }}">{{ page.title }}</a></p>
					</div>
					<div id="contentBlockDescription">
						<p> {{ page.shortDescription }} </p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}