{% extends "master.html" %}

<!--Block For Changing Page Header-->
{% block head %}
	{% for mainTab in mainTabList %}
	{% if mainTab.selected is string %}
		<div class="selected minor list">
			<a href={{ mainTab.title }}>{{ mainTab.title }}</a>
		</div>
	{% else %}
		<div class="minor list">
			<a href={{ mainTab.title }}>{{ mainTab.title }}</a>
		</div>
	{% endif %}
	{% endfor %}
{% endblock %}

<!--Block For Changing Page Content-->
{% block content %}
<h1>Index</h1>
<p class="important">
  Welcome on my awesome homepage.
</p>
<div>
	<p>
		hello world!! woot!
	</p>
</div>
{% endblock %}