{% extends "master.html" %}

<!--Block For Changing Page Header-->
{% block pageTitle %}
{% endblock %}

<!-- Block for changing any necessary page-styles -->
{% block pageStyles %}
<link href="Stylesheets/home_style.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block coolnessBlock %}
{% endblock %}

<!--Block For Changing Page Content-->
{% block content %}
<h1>Index</h1>
<p class="important">
  Welcome on my awesome homepage.
</p>
<div>
	<!--
	<img src="https://photos-1.dropbox.com/t/0/AADjZBOHKmYK1HrL124CUuWRQMQwK0s_2CMiqWK6ygXAEA/12/7739382/jpeg/32x32/3/_/1/2/2013-12-05%2022.33.07.jpg/sk6r2YU16_Lwp03HDurQcz-Mk9CXcDU2vQKIn2yw6aA?size=1280x960"></img>
	<img src="https://www.dropbox.com/s/sqd4a9ajbr3s9d7/2013-12-05%2022.33.07.jpg"></img>
	<img src="https://photos-4.dropbox.com/t/0/AAD6ZxB8RCqkxWK4UzPUxo9OAGZN42r5wD_kdK_lDGa-Pw/12/7739382/jpeg/1024x768/3/1386536400/0/2/2013-12-05%2022.33.07.jpg/sk6r2YU16_Lwp03HDurQcz-Mk9CXcDU2vQKIn2yw6aA"></img>
-->
	<p>
		hello world!! woot!
	</p>
</div>
<div id="contentBlocks">
{% for featuredPage in mainTabList.0.featuredPages %}
	<div id="contentBlock">
		<div id="contentBlockMainBody">
			<div id="contentBlockTitle">
				<p> {{ featuredPage.title }} </p>
			</div>
			<div id="contentBlockDescription">
				<p> {{ featuredPage.description }} </p>
			</div>
			<div id="contentBlockImage">
			</div>
		</div>
	</div>
{% endfor %}
</div>
<div id="ajaxDataBlock">
	<p id="ajaxData">YO </p>
	<input type="button" value="Get Scores!" onClick="getScores()"></input>
</div>
{% endblock %}