/* Main Test Formatting CSS tags */

#mainPage p {
	margin:0px;
}
#mainPage h1 {
	margin:0px;
}
#mainPage ul {
	margin-top:0px;
	margin-bottom:0px;
}
#mainPage ol {
	margin-top:0px;
	margin-bottom:0px;
}