{% extends "master.html" %}

<!--Block For Changing Page Header-->
{% block pageTitle %}
<h1>{{ pageData.title }}</h1>
{% endblock %}

<!-- Block for changing any necessary page-styles -->
{% block pageStyles %}
<link href="Stylesheets/home_style.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block coolnessBlock %}
{% endblock %}

<!--Block For Changing Page Content-->
{% block content %}
<div>
	<p>{{ pageData.description }}</p>
</div>
<br>
<div id="TemplatePageData">
	{{ pageData.data }}
</div>
<!--<div id="TemplateCodeBlock">
	<div class="markup">
		<pre class="prettyprint">
			{% for line in pageData.code %}
				<p>{{ line }}</p>
			{% endfor %}
		</pre>
	</div>
</div>-->

{% endblock %}