<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Web-site Includes -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<link rel="shortcut icon" type="image/x-icon" href="/icon-shadow.png">
	<!-- Webapp Includes -->
	<!--<link href="stylesheet.css" rel="stylesheet" type="text/css" />-->
	
	{% block title %}
	<title>{{ pageTitle }}</title>
	{% endblock %}
	<meta property="og:site_name" content="Tutorialzine">
	<!--<meta name="keywords" content="tutorialzine, tutorial zine, tzine, tutorials, freebies, resources, web development, webdev, demo, PHP, MySQL, jQuery, CSS, XHTML, jQuery UI, CSS3, HTML5, HTML, web design, webdesign">-->
	<meta property="og:title" content="Tutorials, Resources, Projects">
	<meta property="og:url" content="myembeddedlife.appspot.com">
	<meta property="og:image" content="myembeddedlife.appspot.com/icon-shadow.png">
	<meta property="og:type" content="website">

	<!-- script to enable the google-search cse feature -->
	<!-- Put the following javascript before the closing </head> tag. -->
	<script src="/Scripts/googleCSE.js"></script>

	<link href="/Stylesheets/pageFormatting.css" rel="stylesheet" type="text/css" />
	<link href="/Stylesheets/textFormatting.css" rel="stylesheet" type="text/css" />
	<link href="/Stylesheets/main_style.css" rel="stylesheet" type="text/css" />

	<!--<script>
		(function() {
			var cx = '004185851077072532640:ucst63as0kc';
			var gcse = document.createElement('script');
			gcse.type = 'text/javascript';
			gcse.async = true;
			gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
			'//www.google.com/cse/cse.js?cx=' + cx;
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(gcse, s);
		})();
	</script>-->
	{% block pageStyles %}
	{% endblock %}
</head>

<body id="mainPage">
	<div id="PageContainer">
		<div id="PageHeader" class="bodyElement">
			<div class="splitHead headerBlock">
				<div class="leftSide">
					<div class="leftSideBlock">
						<h1>MyEmbeddedLife</h1>
					</div>
				</div>
				<div class="rightSide">
					<div class="rightSideBlock">
						<h1>By Chris Johnson</h1> 
						<p class="userName">{{ currentUserName }}</p>
					</div>
				</div>
			</div>
		</div>
		<div id="PageTabs">
			<div class="splitHead">
				<div class="tabList">
					<div class="leftSide">
						<div class="leftSideBlock">
							{% for mainTab in mainTabList %}
							{% if mainTab.selected is string %}
								<div class="tabObj">
									<div class="minor list selTab">
										<a class="selected" href=/{{ mainTab.title }}>{{ mainTab.title }}</a>
									</div>
								</div>
							{% else %}
								<div class="tabObj">
									<div class="minor list listTab">
										<a class="listed" href=/{{ mainTab.title }}>{{ mainTab.title }}</a>
									</div>
								</div>
							{% endif %}
						{% endfor %}
						</div>
					</div>
					<div class="rightSide">
						<div class="rightSideBlock">
							<div id="googleCSEDiv">
								<gcse:searchbox></gcse:searchbox>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="PageBodyHeader" class="bodyElement">
			<!--<div id="searchBarHeaderBlock">
				<div id="searchBarBlock" class="splitHead">
					<div class="leftSide">
						<div class="leftSideBlock">
							{% block head %}
							<h1>{{ activePage }}</h1>
							{% endblock %}
						</div>
					</div>
					<div class="rightSide">
						<div class="rightSideBlock">
						</div>
					</div>
				</div>
			</div>-->
			<!-- Place this tag where you want the search results to render -->
			<div id="googleResultsBlock">
				<div id="googleResultsBlockBody" style="display:none;">
					<gcse:searchresults></gcse:searchresults>
				</div>
			</div>
		</div>
		<div id="PageBody" class="bodyElement">
			{% block coolnessBlock %}
			{% endblock %}
			{% block content %}
			{% endblock %}	
		</div>
		<div id="PageFooter" class="bodyElement">
			<p>Footer</p>
		</div>
	</div>
</body>
</html>


