body {
	font: 13px Verdana, sans-serif;
}
h2 {
	font: 18px Georgia, "Times New Roman", Times, serif;
}

#pageHeader h1
{
	font: 24px Georgia, "Times New Roman", Times, serif;
}
#pageContentBlock h1
{
	font: 14px Georgia, "Times New Roman", Times, serif;
}